<div class="container">
    <header>
        <h1>{{ titulo }}</h1>
    </header>
    <main>
        <p class="boas-vindas">{{ boasVindas }}</p>
        <h2>Lista de Transações</h2>
        <a routerLink="/adicionar">Adicionar Transação</a>
        <table>
            <thead>
                <td>Cabeçalho da tabela</td>
            </thead>
            <tbody>
                <tr>
                    <td>Conteúdo da tabela</td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
