.container {
    width: 800px;
    margin: auto;
    header {
        width: 100%;
        height: 80px;
        background-color: #cc2e2e;
        h1 {
            color: white;
            text-align: center;
        }
    }
}