<div class="container">
    <header>
        <h1>{{ titulo | uppercase }}</h1>
        <p>{{ date | data: 'dd/MM/yyyy HH:mm' }}</p>
    </header>
    <main>
        <p class="boas-vindas">{{ boasVindas() }}</p>
        <p>{{ usuario | email }}</p>
        <h2>Lista de Transações</h2>
        <a routerLink="/adicionar">Adicionar Transação</a>

        <p [class]="tipoSaldo()"> Seu saldo atual é de: {{ saldo() | currency }}</p>
        <!-- TESTANDO DIRETIVA DE ATRIBUTO -->
        <p [ngStyle]="{'background': saldo() >= 0 ? 'green' : 'red'}">{{ saldo() | currency }}</p>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome Transação</th>
                <th scope="col">Tipo Transação</th>
                <th scope="col">Valor</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transacao of transacoes">
                <td>{{ transacao.nome }}</td>
                <td>
                  <span *ngIf="transacao.tipo === 'despesa'">😢 </span>
                  {{ transacao.tipo }}
                </td>
                <td [ngStyle]="{'color': transacao.tipo === 'despesa' ? 'red' : 'green'}">{{ transacao.valor | currency }}</td>
                <td>{{ transacao.data | data: 'dd/MM/yyyy' }}</td>
              </tr>
            </tbody>
          </table>
    </main>
</div>
