header {
    width: 100%;
    height: 80px;
    background-color: #cc2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: white;
    }
    .usuario {
        position: absolute;
        right: 10px;
        top: 0px;
        font-size: 0.8em;
        color: white;
    }
}
.container {
    width: 800px;
    margin: auto;
    h1 {
        font-size: 1.5em;
        line-height: 200%;
        padding-top: 30px;
    }
    input, select {
        margin: 5px 0 15px;
    }
    button {
        margin-right: 10px;
    }
}